.pokemonImage {
  width: 161px;
  padding: 0 28px 0 28px;
}

.cardId {
  color: #041B3E;
  font-family: "Noto Sans";
  font-size: 24px;
  padding-left: 12px;
  padding-top: 12px;
  height: 28px;
}

.cardInfo {
  color: #041B3E;
  font-family: "Noto Sans";
  font-size: 24px;
  text-align: center;
  height: 24px;
}

.cardName {
  padding-bottom: 16px;
}

.cardType {
  padding-bottom: 24px;
}
