.card {
  width: 217px;
  height: 304px;
  position: relative;
  cursor: pointer;
}

.cardFrontContainer {
  width: 217px;
  height: 304px;
  transition: 1.0s;
  position: absolute;
  backface-visibility: hidden;
  background: #F2F4F7;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotateY(-180deg);
}

.cardBackContainer {
  transition: 1.0s;
  position: absolute;
  backface-visibility: hidden;
}

.cardBackImage {
  width: 217px;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.turnOverCardFront {
  transform: rotateY(0deg);
}

.turnOverCardBack {
  transform: rotateY(180deg);
}