
.logo {
  width: 150px;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: navy;
  z-index: 100;
  height: 80px;
}

.headerContents {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.headerButtonArea {
  display: flex;
  gap: 40px;
}

.headerButton {
  color: white;
  text-decoration: none;
}