.logo {
  width: 150px;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: navy;
  z-index: 100;
  height: 80px;
}

.contents {
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0 70px;
}

.headerContents {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}